@import "fonts";

// FONTS
$defaultFont: 'Open Sans', sans-serif;

// COLORS
$primaryDark: #2F2235;
$primaryLight: #55435B;
$accentColor: #34D1D1;
$lightGray: #F2F2F2;
$mediumGray: #D1D2D3;
$darkGray: #666666;
$black: #000000;
