* {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

hr {
  margin: 0;
  border: 1px solid #D1D2D3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.mobile-divider {
  display: none;
  border-color: rgba(255, 255, 255, 0.08);
  margin: 10px 0;
  width: 85px;
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px 80px;
  background-color: #2F2235;
  color: #FFF;
  font-size: 26px;
}

header p {
  margin: 0;
}

.accent-color {
  color: #34D1D1;
}

.logo {
  text-transform: uppercase;
  font-weight: 300;
}

.name {
  font-size: 22px;
}


main {
  padding: 0 80px;
}

.section-heading {
  display: flex;
  align-items: center;
  margin: 60px auto;
}

.section-name {
  text-transform: uppercase;
  margin-right: 30px;
  min-width: 260px;
  font-weight: 300;
  font-size: 22px;
}

.section-heading .desktop-divider {
  width: 100%;
}



.tab-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.tab {
  list-style: none;
  flex: 1;
  text-align: center;
  font-size: 20px;
  color: #666666;
  padding: 15px;
  font-weight: 300;
  background-color: #F2F2F2;
  border: 1px solid #FFF;
  border-bottom-color: #D1D2D3;
  transition: 200ms;
  position: relative;
}
.tab:hover:not(.tab-active) {
  background-color: #34D1D1;
  color: #FFF;
  cursor: pointer;
}

.tab-active {
  font-weight: 600;
  background-color: #fff;
  border: 1px solid #D1D2D3;
  border-bottom-color: transparent
}

.content {
  display: none;
  align-items: center;
  width: 100%;
  border: 1px solid #D1D2D3;
  border-top-color: transparent;
  margin-bottom: 40px;
}

.content-active {
  display: flex
}


.content .img-container {
  margin: 40px;
  width: 400px;
}

.content .img-container img {
  width: 100%;
}

.text {
  width: 100%;
  margin: 20px 20px 20px 0;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 300;
}

.content-title {
  font-size: 24px;
}

.text hr {
  margin: 10px auto 30px;
}

button {
  display: block;
  margin: 20px auto;
  width: 480px;
  background-color: #3F3244;
  color: #FFF;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 1000px) {
  .content {
    flex-direction: column;
  }

  .text {
    width: 80%;
    margin: 20px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 40px;
  }
  header {
    padding: 20px 40px;
  }
}

@media (max-width: 560px) {
  .content .img-container {
    width: 90%;
  }

  button {
    width: 100%;
  }
}

/*MOBILE VIEW*/
@media (max-width: 450px) {

  .tab-container {
    flex-direction: column;
  }

  .tab,
  .tab-active {
    text-align: left;
    border: 1px solid #D1D2D3;
  }

  .content .img-container {
    margin: 0;
    width: 100%;
  }

  .content .img-container img {
    height: 180px;
  }

  .content-title {
    font-size: 20px;
  }

  .text {
    font-size: 18px;
  }

  .section-heading {
    flex-direction: column;
    align-items: center;
    margin: 40px auto 80px;
  }

  .section-name {
    margin: 0 auto;
    text-align: center;
  }

  .mobile-divider {
    display: block;
  }

  section .mobile-divider {
    border-color: #D1D2D3;
    width: 85px;
  }

  section .desktop-divider {
    display: none;
  }

  header {
    padding: 10px;
    flex-direction: column;
    align-items: center;
  }

  main {
    padding: 0 20px;
  }

  .name {
    font-size: 14px;
  }
}
